<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDBAPIHost</key>
	<string></string>
	<key>TMDBAPIKey</key>
	<string>5032000c9b5215054f6e80dfa44097f6</string>
	<key>TMDBImageHost</key>
	<string></string>
</dict>
</plist>
